@using System.Web.UI.WebControls
@model dynamic

@{
    ViewBag.Title = "Budgets";
}

@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;
    }
}

<!DOCTYPE html>
<div data-ng-app="budget">
    @if (@User.Identity.IsAuthenticated)
    {
        <div data-ng-view></div>
    }
    else
    {
        @Html.Partial("_Authentication")
    }
</div>

<input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />

@section scripts {
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/breeze")
    @Scripts.Render("~/bundles/budget")
}